{% import "macro.twig" as web_macro %}

<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>
    {{ title|default('furrytail') }}
  </title>
  <meta name="keywords" content="{{ keywords|default('furrytail 白白猫窝') }}"/>
  <meta name="description" content="{{ description|default('Furlosophy is the new philosophy.') }}">
  <link href="{{ asset('/furrytail/dist/css/main.css') }}" rel="stylesheet">
  {% for style in styles|default('') %}
    <link href="{{ asset(style) }}" rel="stylesheet">
  {% endfor %}
  <link rel="icon" href="{{ asset('/furrytail/image/favicon.ico', 0) }}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ asset('/furrytail/image/favicon.ico', 0) }}" type="image/x-icon" media="screen"/>
</head>

<body class="{{ bodyClass|default('') }}">
{% block body %}
  {% block header %}
  {% endblock %}

  {% block main %}
  {% endblock %} 

  {% block bottom %}
  {% endblock %}
  <div id="login-modal" class="modal" data-url=""></div>
  <div id="modal" class="modal"></div>
{% endblock %}
  <script src="{{ asset('/furrytail/dist/js/libs/jquery/dist/jquery.min.js', 0)}}"></script>
  <script src="{{ asset('/furrytail/dist/js/app.js') }}"></script>
  {% for script in scripts|default('') %}
    <script src="{{ asset(script) }}"> </script>
  {% endfor %}
  
   <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?92e18898a41c115df4030398bdaef96d";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script> 
</body>
</html>